section
	.page404
		.container
			.row
				.col-12
					.breadcrumbs
						span
							a.home(href="#") Головна
						span 404
			.row
				.col-12
					img(src="img/404.svg", alt="#")
					h2 Упс! Схоже ми заблукали...
					.buttons
						a.button(href="#") На головну
						a.button.transparent(href="#") До каталогу
	.product
		.container
			.row
				.col-12
					h2.title
						span Популярнi товари
			.row.row-cols-xl-4.row-cols-lg-3.row-cols-md-2.row-cols-sm-2.row-cols-1
				.col
					.item
						.img
							a.link(href="#")
							img(src="img/product-1.png", alt="#")
							p.meta.top Топ продажiв
							p.meta.stoc Акцiя
						.description
							h2.title
								a(href="#") КРЕМ ДЛЯ ДЕПІЛЯЦІЇ З ЧОРНОЮ ГЛИНОЮ MOREMO BLACK CLAY HAIR REMOVAL CREAM B 100G
							p.availability В дорозi
							p.price 340₴
				.col
					.item
						.img
							a.link(href="#")
							img(src="img/product-2.png", alt="#")
							p.meta.top Топ продажiв
						.description
							h2.title
								a(href="#") КРЕМ ДЛЯ ДЕПІЛЯЦІЇ З ЧОРНОЮ ГЛИНОЮ MOREMO BLACK CLAY HAIR REMOVAL CREAM B 100G
							p.availability.active В наявностi
							p.price 340₴
				.col
					.item
						.img
							a.link(href="#")
							img(src="img/product-3.png", alt="#")
							p.meta.stoc Акцiя
						.description
							h2.title
								a(href="#") КРЕМ ДЛЯ ДЕПІЛЯЦІЇ З ЧОРНОЮ ГЛИНОЮ MOREMO BLACK CLAY HAIR REMOVAL CREAM B 100G
							p.availability.active В наявностi
							p.price 340₴
				.col
					.item
						a.link(href="#")
						.img
							img(src="img/no-photo.png", alt="#")
							p.meta.top Топ продажiв
						.description
							h2.title
								a(href="#") КРЕМ ДЛЯ ДЕПІЛЯЦІЇ З ЧОРНОЮ ГЛИНОЮ MOREMO BLACK CLAY HAIR REMOVAL CREAM B 100G
							p.availability.active В наявностi
							p.price 340₴
