section
	.blog.articles
		.container
			.row
				.col-xxl-3.col-xl-3.col-lg-4.col-md-5.col-12
					.filters
						form
							h4 Фiльтри
							p Тип товару
							.checkbox
								input#checkbox-1(type="checkbox")
								label(for="checkbox-1") Акцiя
							.checkbox
								input#checkbox-2(type="checkbox")
								label(for="checkbox-2") Новини
							.checkbox
								input#checkbox-3(type="checkbox")
								label(for="checkbox-3") Статтi
					.mini-banner
						img(src="img/mini-banner.png", alt="")
						.desc
							p.meta Новинка у нашому магазинi
							h5 MOREMO FEMININE MIST
							p Крем для депіляції рук і ніг з чорною глиною, швидко і легко видаляє волосся, омертвілі клітини і бруд, залишаючи шкіру м'якою і доглянутою. Видаляє волосся легко і ефективно.
							a.button(href="#") Детальнiше
					.mini-banner
						img(src="img/mini-banner.png", alt="")
						.desc
							p.meta Новинка у нашому магазинi
							h5 MOREMO FEMININE MIST
							p Крем для депіляції рук і ніг з чорною глиною, швидко і легко видаляє волосся, омертвілі клітини і бруд, залишаючи шкіру м'якою і доглянутою. Видаляє волосся легко і ефективно.
							a.button(href="#") Детальнiше
				.col-xxl-9.col-xl-9.col-lg-8.col-md-7.col-12
					.row.row-cols-xl-3.row-cols-lg-2.row-cols-md-1.row-cols-sm-2.row-cols-1
						.col
							.item
								a.link(href="#")
									img(src="img/articles-1.jpg", alt="#")
								h3.title
									a.link(href="#") ВАЖЛИВІСТЬ ГРЕБІНЦЯ У ДОГЛЯДІ
								p.desc Ви використовуєте хороший, правильно підібраний догляд...
						.col
							.item
								a.link(href="#")
									img(src="img/articles-2.jpg", alt="#")
								h3.title
									a.link(href="#") ВАЖЛИВІСТЬ ГРЕБІНЦЯ У ДОГЛЯДІ
								p.desc Ви використовуєте хороший, правильно підібраний догляд...
						.col
							.item
								a.link(href="#")
									img(src="img/articles-3.jpg", alt="#")
								h3.title
									a.link(href="#") ВАЖЛИВІСТЬ ГРЕБІНЦЯ У ДОГЛЯДІ
								p.desc Ви використовуєте хороший, правильно підібраний догляд...
						.col
							.item
								a.link(href="#")
									img(src="img/articles-4.jpg", alt="#")
								h3.title
									a.link(href="#") ВАЖЛИВІСТЬ ГРЕБІНЦЯ У ДОГЛЯДІ
								p.desc Ви використовуєте хороший, правильно підібраний догляд...
						.col
							.item
								a.link(href="#")
									img(src="img/articles-1.jpg", alt="#")
								h3.title
									a.link(href="#") ВАЖЛИВІСТЬ ГРЕБІНЦЯ У ДОГЛЯДІ
								p.desc Ви використовуєте хороший, правильно підібраний догляд...
						.col
							.item
								a.link(href="#")
									img(src="img/articles-2.jpg", alt="#")
								h3.title
									a.link(href="#") ВАЖЛИВІСТЬ ГРЕБІНЦЯ У ДОГЛЯДІ
								p.desc Ви використовуєте хороший, правильно підібраний догляд...
						.col
							.item
								a.link(href="#")
									img(src="img/articles-3.jpg", alt="#")
								h3.title
									a.link(href="#") ВАЖЛИВІСТЬ ГРЕБІНЦЯ У ДОГЛЯДІ
								p.desc Ви використовуєте хороший, правильно підібраний догляд...
						.col
							.item
								a.link(href="#")
									img(src="img/articles-4.jpg", alt="#")
								h3.title
									a.link(href="#") ВАЖЛИВІСТЬ ГРЕБІНЦЯ У ДОГЛЯДІ
								p.desc Ви використовуєте хороший, правильно підібраний догляд...
						.col
							.item
								a.link(href="#")
									img(src="img/articles-4.jpg", alt="#")
								h3.title
									a.link(href="#") ВАЖЛИВІСТЬ ГРЕБІНЦЯ У ДОГЛЯДІ
								p.desc Ви використовуєте хороший, правильно підібраний догляд...
					.row
						.col-12
							.wp-pagenavi
								a.prevpostslink.icon-left(href='#')
								span.current 2
								a.page.larger(href='#') 3
								a.page.larger(href='#') 4
								span.extend ...
								a.larger.page(href='#') 12
								a.nextpostslink.icon-right(href='#')
	.description-block
		.container
			.row
				.col-12
					h2 COMA - магазин професійної люксової косметики для шкіри і волосся.
					p У нас ви не просто купите черговий флакончик, який буде порошиться на полиці.
						br
						| У нашому магазині ви отримаєте повноцінну консультацію фахівця, який підбере лікувальні або Догляду косметичні засоби, з використанням яких ваше волосся і шкіра стануть дивовижно красивим і здоровим.
					p За п'ять років нашої роботи ми успішно проконсультували 5000 прекрасних дівчат, більшість з яких стали нашими постійними клієнтками.
