section
	.brand
		.container
			.row
				.col-12
					.breadcrumbs
						span
							a.home(href="#") Головна
						span
							a(href="#") Бренди
						span Lanza
			.row
				.col-12
					.brand-description
						.img
							img(src="img/brands-1.png", alt="#")
						.desc
							h1.title LANZA
							p.brand-desc Амеріканская компанія L'ANZA представлена на ринку професійної косметики для волосся з 1985 року і є піонером і лідером в розробці новітніх технологій по догляду за волоссям всіх типів, у виробництві косметики для відновлення волосся з терапевтичним ефектом. Хоча багато ліній по догляду за волоссям стверджують, що вони лікують волосся, продукція L'ANZA є єдиною, дійсно зцілює їх! Косметика Lanza - це також індивідуальний підхід до кожного клієнта. Справитися з неслухняними кучериками допоможе серія засобів по догляду за кучерявими волоссям, а ось ослабленим і тьмяним неодмінно додасть сили, еластичності і блиску серія косметики для пошкодженого волосся. Тільки Lanza здатна допомогти вам створити власний міні-салон на дому. Більшість косметичних засобів компанії дійсно дають результати, близькі до салонним процедурам, таким як кератіновой протезування, ламінування, фарбування та інші.
			.row
				.col-12
					.question
						p Залишились питання?
						a.button.transparent(href="#") Отримати онлайн консультацiю
						a.button(href="#") Записатися на прийом
			.row
				.col-xxl-3.col-xl-3.col-lg-4.col-md-5.col-12
					.filters
						form
							h4 Фiльтри
							p Тип товару
							.checkbox
								input#checkbox-1(type="checkbox")
								label(for="checkbox-1") Крем
							.checkbox
								input#checkbox-2(type="checkbox")
								label(for="checkbox-2") Молочко для тiла
							.checkbox
								input#checkbox-3(type="checkbox")
								label(for="checkbox-3") Шампунь
							.checkbox
								input#checkbox-4(type="checkbox")
								label(for="checkbox-4") Маска
							p Цiна
							.inputs
								label(for="") Вiд
									input(type="text")
								label(for="") до
									input(type="text")
							p Наявнiсть
							.checkbox
								input#checkbox-5(type="checkbox")
								label(for="checkbox-5") В наявностi
							.checkbox
								input#checkbox-6(type="checkbox")
								label(for="checkbox-6") В дорозi
							.checkbox
								input#checkbox-7(type="checkbox")
								label(for="checkbox-7") Предзамовлення
							p Акцiйний товар
							.checkbox
								input#checkbox-8(type="checkbox")
								label(for="checkbox-8") Зi знижкою
							p Бренд
							.checkbox
								input#checkbox-9(type="checkbox")
								label(for="checkbox-9") Lanza
							.checkbox
								input#checkbox-10(type="checkbox")
								label(for="checkbox-10") Бренд
							.checkbox
								input#checkbox-11(type="checkbox")
								label(for="checkbox-11") Iнший бренд
							.checkbox
								input#checkbox-12(type="checkbox")
								label(for="checkbox-12") Ще один бренд
							.checkbox
								input#checkbox-13(type="checkbox")
								label(for="checkbox-13") Бренд з довгим найменуванням
				.col-xxl-9.col-xl-9.col-lg-8.col-md-7.col-12
					.product
						.row.row-cols-xl-3.row-cols-lg-2.row-cols-md-1.row-cols-sm-2.row-cols-1
							.col
								.item
									.img
										a.link(href="#")
										img(src="img/product-1.png", alt="#")
										p.meta.top Топ продажiв
									.description
										h2.title
											a(href="#") КРЕМ ДЛЯ ДЕПІЛЯЦІЇ З ЧОРНОЮ ГЛИНОЮ MOREMO BLACK CLAY HAIR REMOVAL CREAM B 100G
										p.availability В дорозi
										p.price 340₴
							.col
								.item
									.img
										a.link(href="#")
										img(src="img/product-2.png", alt="#")
										p.meta.top Топ продажiв
									.description
										h2.title
											a(href="#") КРЕМ ДЛЯ ДЕПІЛЯЦІЇ З ЧОРНОЮ ГЛИНОЮ MOREMO BLACK CLAY HAIR REMOVAL CREAM B 100G
										p.availability.active В наявностi
										p.price 340₴
							.col
								.item
									.img
										a.link(href="#")
										img(src="img/product-3.png", alt="#")
										p.meta.stoc Акцiя
									.description
										h2.title
											a(href="#") КРЕМ ДЛЯ ДЕПІЛЯЦІЇ З ЧОРНОЮ ГЛИНОЮ MOREMO BLACK CLAY HAIR REMOVAL CREAM B 100G
										p.availability.active В наявностi
										p.price 340₴
							.col
								.item
									.img
										a.link(href="#")
										img(src="img/no-photo.png", alt="#")
										p.meta.top Топ продажiв
									.description
										h2.title
											a(href="#") КРЕМ ДЛЯ ДЕПІЛЯЦІЇ З ЧОРНОЮ ГЛИНОЮ MOREMO BLACK CLAY HAIR REMOVAL CREAM B 100G
										p.availability.active В наявностi
										p.price 340₴
							.col
								.item
									.img
										a.link(href="#")
										img(src="img/product-4.png", alt="#")
										p.meta.top Топ продажiв
									.description
										h2.title
											a(href="#") КРЕМ ДЛЯ ДЕПІЛЯЦІЇ З ЧОРНОЮ ГЛИНОЮ MOREMO BLACK CLAY HAIR REMOVAL CREAM B 100G
										p.availability.active В наявностi
										p.price 340₴
							.col
								.item
									.img
										a.link(href="#")
										img(src="img/product-5.png", alt="#")
										p.meta.top Топ продажiв
									.description
										h2.title
											a(href="#") КРЕМ ДЛЯ ДЕПІЛЯЦІЇ З ЧОРНОЮ ГЛИНОЮ MOREMO BLACK CLAY HAIR REMOVAL CREAM B 100G
										p.availability.active В наявностi
										p.price 340₴
							.col
								.item
									.img
										a.link(href="#")
										img(src="img/product-6.png", alt="#")
										p.meta.top Топ продажiв
									.description
										h2.title
											a(href="#") КРЕМ ДЛЯ ДЕПІЛЯЦІЇ З ЧОРНОЮ ГЛИНОЮ MOREMO BLACK CLAY HAIR REMOVAL CREAM B 100G
										p.availability.active В наявностi
										p.price 340₴
							.col
								.item
									.img
										a.link(href="#")
										img(src="img/product-7.png", alt="#")
										p.meta.top Топ продажiв
									.description
										h2.title
											a(href="#") КРЕМ ДЛЯ ДЕПІЛЯЦІЇ З ЧОРНОЮ ГЛИНОЮ MOREMO BLACK CLAY HAIR REMOVAL CREAM B 100G
										p.availability.active В наявностi
										p.price 340₴
							.col
								.item
									.img
										a.link(href="#")
										img(src="img/product-1.png", alt="#")
										p.meta.top Топ продажiв
									.description
										h2.title
											a(href="#") КРЕМ ДЛЯ ДЕПІЛЯЦІЇ З ЧОРНОЮ ГЛИНОЮ MOREMO BLACK CLAY HAIR REMOVAL CREAM B 100G
										p.availability В дорозi
										p.price 340₴
						.row
							.col-12
								a.button(href="#") Бiльше товарiв
								.wp-pagenavi
									//a.prevpostslink.icon-left(href='#')
									span.current 1
									a.page.larger(href='#') 2
									a.page.larger(href='#') 3
									span.extend ...
									a.larger.page(href='#') 12
									a.nextpostslink.icon-right(href='#')
	.description-block
		.container
			.row
				.col-12
					h2 COMA - магазин професійної люксової косметики для шкіри і волосся.
					p У нас ви не просто купите черговий флакончик, який буде порошиться на полиці.
						br
						| У нашому магазині ви отримаєте повноцінну консультацію фахівця, який підбере лікувальні або Догляду косметичні засоби, з використанням яких ваше волосся і шкіра стануть дивовижно красивим і здоровим.
					p За п'ять років нашої роботи ми успішно проконсультували 5000 прекрасних дівчат, більшість з яких стали нашими постійними клієнтками.
