section
	.banner
		.container
			.row
				.col-12
					.banner-slider
						.item
							.description
								h5.meta Новинка у нашому магазинi
								h2.title MOREMO FEMININE MIST
								p.desc Крем для депіляції рук і ніг з чорною глиною, швидко і легко видаляє волосся, омертвілі клітини і бруд, залишаючи шкіру м'якою і доглянутою. Видаляє волосся легко і ефективно.
								a.button.mini(href="#") Детальнiше
							.img
								img(src="img/banner-img.jpg", alt="#")
						.item
							.description
								h5.meta Новинка у нашому магазинi
								h2.title MOREMO FEMININE MIST
								p.desc Крем для депіляції рук і ніг з чорною глиною, швидко і легко видаляє волосся, омертвілі клітини і бруд, залишаючи шкіру м'якою і доглянутою. Видаляє волосся легко і ефективно.
								a.button.mini(href="#") Детальнiше
							.img
								img(src="img/banner-img.jpg", alt="#")
						.item
							.description
								h5.meta Новинка у нашому магазинi
								h2.title MOREMO FEMININE MIST
								p.desc Крем для депіляції рук і ніг з чорною глиною, швидко і легко видаляє волосся, омертвілі клітини і бруд, залишаючи шкіру м'якою і доглянутою. Видаляє волосся легко і ефективно.
								a.button.mini(href="#") Детальнiше
							.img
								img(src="img/banner-img.jpg", alt="#")
						.item
							.description
								h5.meta Новинка у нашому магазинi
								h2.title MOREMO FEMININE MIST
								p.desc Крем для депіляції рук і ніг з чорною глиною, швидко і легко видаляє волосся, омертвілі клітини і бруд, залишаючи шкіру м'якою і доглянутою. Видаляє волосся легко і ефективно.
								a.button.mini(href="#") Детальнiше
							.img
								img(src="img/banner-img.jpg", alt="#")
	.product
		.container
			.row
				.col-12
					h2.title
						span Топ товари
			.row.row-cols-xl-4.row-cols-lg-3.row-cols-md-2.row-cols-sm-2.row-cols-1
				.col
					.item
						.img
							a.link(href="#")
							img(src="img/product-1.png", alt="#")
							p.meta.top Топ продажiв
						.description
							h2.title
								a(href="#") КРЕМ ДЛЯ ДЕПІЛЯЦІЇ З ЧОРНОЮ ГЛИНОЮ MOREMO BLACK CLAY HAIR REMOVAL CREAM B 100G
							p.availability В дорозi
							p.price 340₴
				.col
					.item
						.img
							a.link(href="#")
							img(src="img/product-2.png", alt="#")
							p.meta.top Топ продажiв
						.description
							h2.title
								a(href="#") КРЕМ ДЛЯ ДЕПІЛЯЦІЇ З ЧОРНОЮ ГЛИНОЮ MOREMO BLACK CLAY HAIR REMOVAL CREAM B 100G
							p.availability.active В наявностi
							p.price 340₴
				.col
					.item
						.img
							a.link(href="#")
							img(src="img/product-3.png", alt="#")
							p.meta.stoc Акцiя
						.description
							h2.title
								a(href="#") КРЕМ ДЛЯ ДЕПІЛЯЦІЇ З ЧОРНОЮ ГЛИНОЮ MOREMO BLACK CLAY HAIR REMOVAL CREAM B 100G
							p.availability.active В наявностi
							p.price 340₴
				.col
					.item
						.img
							a.link(href="#")
							img(src="img/no-photo.png", alt="#")
							p.meta.top Топ продажiв
						.description
							h2.title
								a(href="#") КРЕМ ДЛЯ ДЕПІЛЯЦІЇ З ЧОРНОЮ ГЛИНОЮ MOREMO BLACK CLAY HAIR REMOVAL CREAM B 100G
							p.availability.active В наявностi
							p.price 340₴
				.col
					.item
						.img
							a.link(href="#")
							img(src="img/product-4.png", alt="#")
							p.meta.top Топ продажiв
						.description
							h2.title
								a(href="#") КРЕМ ДЛЯ ДЕПІЛЯЦІЇ З ЧОРНОЮ ГЛИНОЮ MOREMO BLACK CLAY HAIR REMOVAL CREAM B 100G
							p.availability.active В наявностi
							p.price 340₴
				.col
					.item
						.img
							a.link(href="#")
							img(src="img/product-5.png", alt="#")
							p.meta.top Топ продажiв
						.description
							h2.title
								a(href="#") КРЕМ ДЛЯ ДЕПІЛЯЦІЇ З ЧОРНОЮ ГЛИНОЮ MOREMO BLACK CLAY HAIR REMOVAL CREAM B 100G
							p.availability.active В наявностi
							p.price 340₴
				.col
					.item
						.img
							a.link(href="#")
							img(src="img/product-6.png", alt="#")
							p.meta.top Топ продажiв
						.description
							h2.title
								a(href="#") КРЕМ ДЛЯ ДЕПІЛЯЦІЇ З ЧОРНОЮ ГЛИНОЮ MOREMO BLACK CLAY HAIR REMOVAL CREAM B 100G
							p.availability.active В наявностi
							p.price 340₴
				.col
					.item
						.img
							a.link(href="#")
							img(src="img/product-7.png", alt="#")
							p.meta.top Топ продажiв
						.description
							h2.title
								a(href="#") КРЕМ ДЛЯ ДЕПІЛЯЦІЇ З ЧОРНОЮ ГЛИНОЮ MOREMO BLACK CLAY HAIR REMOVAL CREAM B 100G
							p.availability.active В наявностi
							p.price 340₴
			.row
				.col-12
					a.button(href="#") Бiльше товарiв
	.brands
		.container
			.row
				.col-12
					h2.title
						span Бренди
			.row.row-cols-xl-6.row-cols-3
				.col
					.item
						a(href="#")
							img(src="img/brands-1.png", alt="")
				.col
					.item
						a(href="#")
							img(src="img/brands-2.png", alt="")
				.col
					.item
						a(href="#")
							img(src="img/brands-3.png", alt="")
				.col
					.item
						a(href="#")
							img(src="img/brands-4.png", alt="")
				.col
					.item
						a(href="#")
							img(src="img/brands-5.png", alt="")
				.col
					.item
						a(href="#")
							img(src="img/brands-6.png", alt="")
				.col
					.item
						a(href="#")
							img(src="img/brands-7.png", alt="")
				.col
					.item
						a(href="#")
							img(src="img/brands-8.png", alt="")
				.col
					.item
						a(href="#")
							img(src="img/brands-9.png", alt="")
				.col
					.item
						a(href="#")
							img(src="img/brands-10.png", alt="")
				.col
					.item
						a(href="#")
							img(src="img/brands-11.png", alt="")
				.col
					.item
						a(href="#")
							img(src="img/brands-12.png", alt="")
			.row
				.col-12
					a.button(href="#") Бiльше брендiв
	.articles
		.container
			.row
				.col-12
					h2.title
						span Статтi
			.row.row-cols-xl-6.row-cols-lg-3.row-cols-md-3.row-cols-sm-2.row-cols-1
				.col
					.item
						a.link(href="#")
							img(src="img/articles-1.jpg", alt="#")
						h3.title
							a.link(href="#") ВАЖЛИВІСТЬ ГРЕБІНЦЯ У ДОГЛЯДІ
						p.desc Ви використовуєте хороший, правильно підібраний догляд...
				.col
					.item
						a.link(href="#")
							img(src="img/articles-2.jpg", alt="#")
						h3.title
							a.link(href="#") ВАЖЛИВІСТЬ ГРЕБІНЦЯ У ДОГЛЯДІ
						p.desc Ви використовуєте хороший, правильно підібраний догляд...
				.col
					.item
						a.link(href="#")
							img(src="img/articles-3.jpg", alt="#")
						h3.title
							a.link(href="#") ВАЖЛИВІСТЬ ГРЕБІНЦЯ У ДОГЛЯДІ
						p.desc Ви використовуєте хороший, правильно підібраний догляд...
				.col
					.item
						a.link(href="#")
							img(src="img/articles-4.jpg", alt="#")
						h3.title
							a.link(href="#") ВАЖЛИВІСТЬ ГРЕБІНЦЯ У ДОГЛЯДІ
						p.desc Ви використовуєте хороший, правильно підібраний догляд...
				.col
					.item
						a.link(href="#")
							img(src="img/articles-5.jpg", alt="#")
						h3.title
							a.link(href="#") ВАЖЛИВІСТЬ ГРЕБІНЦЯ У ДОГЛЯДІ
						p.desc Ви використовуєте хороший, правильно підібраний догляд...
				.col
					.item
						a.link(href="#")
							img(src="img/articles-6.jpg", alt="#")
						h3.title
							a.link(href="#") ВАЖЛИВІСТЬ ГРЕБІНЦЯ У ДОГЛЯДІ
						p.desc Ви використовуєте хороший, правильно підібраний догляд...
			.row
				.col-12
					a.button(href="#") Бiльше статей
	.description-block
		.container
			.row
				.col-12
					h2 COMA - магазин професійної люксової косметики для шкіри і волосся.
					p У нас ви не просто купите черговий флакончик, який буде порошиться на полиці.
						br
						| У нашому магазині ви отримаєте повноцінну консультацію фахівця, який підбере лікувальні або Догляду косметичні засоби, з використанням яких ваше волосся і шкіра стануть дивовижно красивим і здоровим.
					p За п'ять років нашої роботи ми успішно проконсультували 5000 прекрасних дівчат, більшість з яких стали нашими постійними клієнтками.
