section
	.contacts
		.container
			.row
				.col-12
					.breadcrumbs
						span
							a.home(href="#") Головна
						span Контакти
			.row
				.col-md-6.col-12
					h2 Контакти
					h6 Графiк роботы
					p Пн. - Вс. з 09:00 по 20:00
					h6 Адреса
					p Україна Київ вул. Нижній Вал, 37
					h6 Телефон
					a(href="tel:+380631234567") +38063 123 45 67
					a(href="tel:+380631234567") +38063 123 45 67
					h6 Соцiальнi мережi
					ul.soc
						li
							a.icon-facebook(href="#")
						li
							a.icon-instagram(href="#")
						li
							a.icon-twitter(href="#")
				.col-md-6.col-12
					form
						h2 Зворотнiй зв’язок
						.input
							label Iм’я
							input(type="text" placeholder="Ваше iм’я")
						.input
							label Email
							input(type="text" placeholder="Ваш email")
						.textarea
							label Повiдомлення
							textarea(type="text" placeholder="Текст повiдомлення")
						.input
							input.button(type="submit" value="Вiдправити")
			.row
				.col-12
					#map
	.description-block
		.container
			.row
				.col-12
					h2 COMA - магазин професійної люксової косметики для шкіри і волосся.
					p У нас ви не просто купите черговий флакончик, який буде порошиться на полиці.
						br
						| У нашому магазині ви отримаєте повноцінну консультацію фахівця, який підбере лікувальні або Догляду косметичні засоби, з використанням яких ваше волосся і шкіра стануть дивовижно красивим і здоровим.
					p За п'ять років нашої роботи ми успішно проконсультували 5000 прекрасних дівчат, більшість з яких стали нашими постійними клієнтками.
