footer
	.container
		.row
			.col-lg-3.col-sm-6.col-12
				a.logo(href="#")
					img(src="img/logo-wight.svg", alt="logo")
				a.tel(href="tel:+380631234567") +38063 123 45 67
				a.tel(href="tel:+380991234567") +38099 123 45 67
				p Графiк роботы:
					br
					| Пн. - Нд. з 09:00 по 20:00
			.col-lg-3.col-sm-6.col-12
				ul.menu
					li
						a(href="#") Догляд за волоссям
					li
						a(href="#") Вітаміни/Бади
					li
						a(href="#") Тіло
					li
						a(href="#") Косметика для обличчя
					li
						a(href="#") Для чоловiкiв
			.col-lg-3.col-sm-6.col-12
				ul.menu
					li
						a(href="#") Назва бренду
					li
						a(href="#") Довга назва бренду
					li
						a(href="#") Назва iношого бренду
					li
						a(href="#") Назва бренду
					li
						a(href="#") Останнiй бренд
			.col-lg-3.col-sm-6.col-12.align-self-end
				p Ми у соц. мережах
				ul.soc
					li.icon-facebook
						a(href="#")
					li.icon-instagram
						a(href="#")
					li.icon-twitter
						a(href="#")
	.copyright
		.container
			.row
				.col-12
					p Coma 2021 © Усi права захищенi
