header
	.top-header
		.container
			.row.justify-content-space-between
				.col
					p Графiк роботы: Пн. - Вс. з 09:00 по 20:00
				.col
					ul
						li
							a(href="tel:+380631234567") +38063 123 45 67
						li
							a(href="tel:+380991234567") +38099 123 45 67
						li.icon-facebook
							a(href="#")
						li.icon-instagram
							a(href="#")
						li.icon-twitter
							a(href="#")
	.container
		.row.align-items-center
			.col-5
				.burger
					span
					span
					span
				ul.menu
					li
						a(href="#") Про нас
					li
						a(href="#") Статтi
					li
						a(href="#") Контакти
			.col-2
				a.logo(href="/")
					img(src="img/logo.svg", alt="logo")
			.col-5
				.row.align-items-center
					.col
						ul.menu
							li
								a(href="#") Отримати онлайн консультацiю
							li
								a(href="#") Записатися на прийом
					.col-auto
						a.icon-bag(href="#") Кошик
	.container
		.row
			.col-12
				ul.menu
					li
						a(href="#") Догляд за волоссям
					li
						a(href="#") Вітаміни/Бади
					li
						a(href="#") Тіло
					li
						a(href="#") Косметика для обличчя
					li
						a(href="#") Для чоловiкiв
