section
	.banner
		.container
			.row
				.col-12
					.banner-slider
						.item
							.description
								h5.meta Новинка у нашому магазинi
								h2.title MOREMO FEMININE MIST
								p.desc Крем для депіляції рук і ніг з чорною глиною, швидко і легко видаляє волосся, омертвілі клітини і бруд, залишаючи шкіру м'якою і доглянутою. Видаляє волосся легко і ефективно.
								a.button.mini(href="#") Детальнiше
							.img
								img(src="img/banner-img.jpg", alt="#")
						.item
							.description
								h5.meta Новинка у нашому магазинi
								h2.title MOREMO FEMININE MIST
								p.desc Крем для депіляції рук і ніг з чорною глиною, швидко і легко видаляє волосся, омертвілі клітини і бруд, залишаючи шкіру м'якою і доглянутою. Видаляє волосся легко і ефективно.
								a.button.mini(href="#") Детальнiше
							.img
								img(src="img/banner-img.jpg", alt="#")
						.item
							.description
								h5.meta Новинка у нашому магазинi
								h2.title MOREMO FEMININE MIST
								p.desc Крем для депіляції рук і ніг з чорною глиною, швидко і легко видаляє волосся, омертвілі клітини і бруд, залишаючи шкіру м'якою і доглянутою. Видаляє волосся легко і ефективно.
								a.button.mini(href="#") Детальнiше
							.img
								img(src="img/banner-img.jpg", alt="#")
						.item
							.description
								h5.meta Новинка у нашому магазинi
								h2.title MOREMO FEMININE MIST
								p.desc Крем для депіляції рук і ніг з чорною глиною, швидко і легко видаляє волосся, омертвілі клітини і бруд, залишаючи шкіру м'якою і доглянутою. Видаляє волосся легко і ефективно.
								a.button.mini(href="#") Детальнiше
							.img
								img(src="img/banner-img.jpg", alt="#")
	.question-block
		.container
			.row
				.col-12
					.question
						p Залишились питання?
						a.button.transparent(href="#") Отримати онлайн консультацiю
						a.button(href="#") Записатися на прийом
	.landing-product
		.container
			.row.align-items-center
				.col-lg-6.col-md-8.col-12
					.text
						h1 Біологічно активна добавка для прискорення росту волосся
							br
							| Mediceuticals Bao-Med Food Supplement 60капсул
						p Біологічно активна добавка для прискорення росту волосся, поліпшення стану шкіри, нігтів Mediceuticals Bao-Med Food Supplement Hair Skin & Nails - біологічно активна добавка Bao-Med спрямована на поліпшення стану волосся, шкіри та нігтів.
						p Основним компонентом є живильний порошок баобаба з Південної Африки.
						p Для більш міцних волосся, шкіри та нігтів
							br
							| Головний компонент кошти живильний порошок баобаба
							br
							| Збагачений біотином, цинком і фолієвою кислотою
							br
							| Підходить для веганів! Навіть беручи біологічно активну добавку Bao-Med важливо дотримуватися різноманітного збалансованого харчування та здорового способу життя. Дієтичні добавки не є заміною повноцінного раціону харчування.
				.col-lg-6.col-md-4.col-12
					img(src="img/product-landing-1.png", alt="#")
			.row.align-items-center
				.col-lg-6.col-md-8.col-12
					.text
						p Біологічно активна добавка Bao-Med від Mediceuticals ‒ це продукт, який націлений на поліпшення стану волосся, шкіри та нігтів. Основним компонентом є живильний порошок баобаба з Південної Африки. Крім того, продукт збагачений біотином, цинком і фолієвою кислотою, що створює ідеальний мікс для зміцнення волосся, шкіри та нігтів.
						p Основні інгредієнти:
						p Порошок плодів баобаба дуже поживний. Він містить вітамін С, кальцій, магній, калій та інші важливі харчові волокна і є чудовим антиоксидантом і сприяє підтримці здорового балансу в тілі.
						p Цинк підтримує регенеративні здібності шкіри і піклується про її здоров'я.
							br
							| Біотин сприяє нормальному росту волосся; він також допомагає зберегти їх сильними і блискучими.
							br
							| Фолієва кислота необхідна для ділення клітин. Вона в основному впливає на швидко зростаючі клітини, такі як волосся.
							br
							| Спосіб застосування: приймайте по 2 капсули на добу, бажано під час їжі.
				.col-lg-6.col-md-4.col-12
					img(src="img/product-landing-2.png", alt="#")
	.question-block
		.container
			.row
				.col-12
					form.question
						.col-md-6.col-12
								p Залишились питання?
								.radio
									input#online(type="radio" name="questions")
									label(for="online") Отримати онлайн консультацiю
								.radio
									input#sign-up(type="radio" name="questions")
									label(for="sign-up") Записатися на прийом
						.col-md-6.col-12
								h2 Зворотнiй зв'язок
								.input
									label Iм’я
									input(type="text" placeholder="Ваше iм’я")
								.input
									label Email
									input(type="text" placeholder="Ваш email")
								.input
									input.button(type="submit" value="Вiдправити")
	.description-block
		.container
			.row
				.col-12
					h2 COMA - магазин професійної люксової косметики для шкіри і волосся.
					p У нас ви не просто купите черговий флакончик, який буде порошиться на полиці.
						br
						| У нашому магазині ви отримаєте повноцінну консультацію фахівця, який підбере лікувальні або Догляду косметичні засоби, з використанням яких ваше волосся і шкіра стануть дивовижно красивим і здоровим.
					p За п'ять років нашої роботи ми успішно проконсультували 5000 прекрасних дівчат, більшість з яких стали нашими постійними клієнтками.
