
<section>
  <div class="page404">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="breadcrumbs"><span><a class="home" href="#">Головна</a></span><span>404</span></div>
        </div>
      </div>
      <div class="row">
        <div class="col-12"><img src="img/404.svg" alt="#"/>
          <h2>Упс! Схоже ми заблукали...</h2>
          <div class="buttons"><a class="button" href="#">На головну</a><a class="button transparent" href="#">До каталогу</a></div>
        </div>
      </div>
    </div>
  </div>
  <div class="product">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2 class="title"><span>Популярнi товари</span></h2>
        </div>
      </div>
      <div class="row row-cols-xl-4 row-cols-lg-3 row-cols-md-2 row-cols-sm-2 row-cols-1">
        <div class="col">
          <div class="item">
            <div class="img"><a class="link" href="#"></a><img src="img/product-1.png" alt="#"/>
              <p class="meta top">Топ продажiв</p>
              <p class="meta stoc">Акцiя</p>
            </div>
            <div class="description">
              <h2 class="title"> <a href="#">КРЕМ ДЛЯ ДЕПІЛЯЦІЇ З ЧОРНОЮ ГЛИНОЮ MOREMO BLACK CLAY HAIR REMOVAL CREAM B 100G</a></h2>
              <p class="availability">В дорозi </p>
              <p class="price">340₴</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="item">
            <div class="img"><a class="link" href="#"></a><img src="img/product-2.png" alt="#"/>
              <p class="meta top">Топ продажiв</p>
            </div>
            <div class="description">
              <h2 class="title"> <a href="#">КРЕМ ДЛЯ ДЕПІЛЯЦІЇ З ЧОРНОЮ ГЛИНОЮ MOREMO BLACK CLAY HAIR REMOVAL CREAM B 100G</a></h2>
              <p class="availability active">В наявностi</p>
              <p class="price">340₴</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="item">
            <div class="img"><a class="link" href="#"></a><img src="img/product-3.png" alt="#"/>
              <p class="meta stoc">Акцiя</p>
            </div>
            <div class="description">
              <h2 class="title"> <a href="#">КРЕМ ДЛЯ ДЕПІЛЯЦІЇ З ЧОРНОЮ ГЛИНОЮ MOREMO BLACK CLAY HAIR REMOVAL CREAM B 100G</a></h2>
              <p class="availability active">В наявностi</p>
              <p class="price">340₴</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="item"><a class="link" href="#"></a>
            <div class="img"><img src="img/no-photo.png" alt="#"/>
              <p class="meta top">Топ продажiв</p>
            </div>
            <div class="description">
              <h2 class="title"> <a href="#">КРЕМ ДЛЯ ДЕПІЛЯЦІЇ З ЧОРНОЮ ГЛИНОЮ MOREMO BLACK CLAY HAIR REMOVAL CREAM B 100G</a></h2>
              <p class="availability active">В наявностi</p>
              <p class="price">340₴</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
