
<section>
  <div class="about-us">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="breadcrumbs"><span><a class="home" href="#">Головна</a></span><span><a href="#">Бренди</a></span><span>Lanza</span></div>
        </div>
      </div>
      <div class="row align-items-center">
        <div class="col-md-6 col-12">
          <h1 class="title">COMA - магазин професійної люксової косметики для шкіри і волосся.</h1>
          <p>У нас ви не просто купите черговий флакончик, який буде порошиться на полиці.<br/>У нашому магазині ви отримаєте повноцінну консультацію фахівця, який підбере лікувальні або Догляду косметичні засоби, з використанням яких ваше волосся і шкіра стануть дивовижно красивим і здоровим.</p>
          <p>За п'ять років нашої роботи ми успішно проконсультували 5000 прекрасних дівчат, більшість з яких стали нашими постійними клієнтками.</p>
        </div>
        <div class="col-md-6 col-12">
          <div class="img"> <img src="img/shop.jpg" alt="#"/></div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-12">
          <h6>Доставка</h6>
          <p>Iнформацiя по доставцi Lorem ipsum dolor sit amet, mundi fierent molestie mea cu, falli maiorum efficiendi usu an. Ea cum ipsum argumentum comprehensam, ex eum inani choro, pri ea putent consulatu.</p>
          <h6>Термiни повернення</h6>
          <p>Lorem ipsum dolor sit amet, mundi fierent molestie mea cu, falli maiorum efficiendi usu an. Ea cum ipsum argumentum comprehensam, ex eum inani choro, pri ea putent consulatu. Lorem ipsum dolor sit amet, mundi fierent molestie mea cu, falli maiorum efficiendi usu an. Ea cum ipsum argumentum comprehensam, ex eum inani choro, pri ea putent consulatu.</p>
        </div>
        <div class="col-md-6 col-12">
          <h6>Нашi досягнення</h6>
          <ul class="achievement">
            <li><a href="img/diploma.png" data-fancybox="gallery"><img src="img/diploma.png" alt="#"/></a></li>
            <li><a href="img/diploma.png" data-fancybox="gallery"><img src="img/diploma.png" alt="#"/></a></li>
            <li><a href="img/diploma.png" data-fancybox="gallery"><img src="img/diploma.png" alt="#"/></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
