
<section>
  <div class="blog articles">
    <div class="container">
      <div class="row">
        <div class="col-xxl-3 col-xl-3 col-lg-4 col-md-5 col-12">
          <div class="filters">
            <form>
              <h4>Фiльтри</h4>
              <p>Тип товару</p>
              <div class="checkbox">
                <input id="checkbox-1" type="checkbox"/>
                <label for="checkbox-1">Акцiя</label>
              </div>
              <div class="checkbox">
                <input id="checkbox-2" type="checkbox"/>
                <label for="checkbox-2">Новини</label>
              </div>
              <div class="checkbox">
                <input id="checkbox-3" type="checkbox"/>
                <label for="checkbox-3">Статтi</label>
              </div>
            </form>
          </div>
          <div class="mini-banner"><img src="img/mini-banner.png" alt=""/>
            <div class="desc">
              <p class="meta">Новинка у нашому магазинi</p>
              <h5>MOREMO FEMININE MIST</h5>
              <p>Крем для депіляції рук і ніг з чорною глиною, швидко і легко видаляє волосся, омертвілі клітини і бруд, залишаючи шкіру м'якою і доглянутою. Видаляє волосся легко і ефективно.</p><a class="button" href="#">Детальнiше</a>
            </div>
          </div>
          <div class="mini-banner"><img src="img/mini-banner.png" alt=""/>
            <div class="desc">
              <p class="meta">Новинка у нашому магазинi</p>
              <h5>MOREMO FEMININE MIST</h5>
              <p>Крем для депіляції рук і ніг з чорною глиною, швидко і легко видаляє волосся, омертвілі клітини і бруд, залишаючи шкіру м'якою і доглянутою. Видаляє волосся легко і ефективно.</p><a class="button" href="#">Детальнiше</a>
            </div>
          </div>
        </div>
        <div class="col-xxl-9 col-xl-9 col-lg-8 col-md-7 col-12">
          <div class="row row-cols-xl-3 row-cols-lg-2 row-cols-md-1 row-cols-sm-2 row-cols-1">
            <div class="col">
              <div class="item"><a class="link" href="#"><img src="img/articles-1.jpg" alt="#"/></a>
                <h3 class="title"><a class="link" href="#">ВАЖЛИВІСТЬ ГРЕБІНЦЯ У ДОГЛЯДІ</a></h3>
                <p class="desc">Ви використовуєте хороший, правильно підібраний догляд...</p>
              </div>
            </div>
            <div class="col">
              <div class="item"><a class="link" href="#"><img src="img/articles-2.jpg" alt="#"/></a>
                <h3 class="title"><a class="link" href="#">ВАЖЛИВІСТЬ ГРЕБІНЦЯ У ДОГЛЯДІ</a></h3>
                <p class="desc">Ви використовуєте хороший, правильно підібраний догляд...</p>
              </div>
            </div>
            <div class="col">
              <div class="item"><a class="link" href="#"><img src="img/articles-3.jpg" alt="#"/></a>
                <h3 class="title"><a class="link" href="#">ВАЖЛИВІСТЬ ГРЕБІНЦЯ У ДОГЛЯДІ</a></h3>
                <p class="desc">Ви використовуєте хороший, правильно підібраний догляд...</p>
              </div>
            </div>
            <div class="col">
              <div class="item"><a class="link" href="#"><img src="img/articles-4.jpg" alt="#"/></a>
                <h3 class="title"><a class="link" href="#">ВАЖЛИВІСТЬ ГРЕБІНЦЯ У ДОГЛЯДІ</a></h3>
                <p class="desc">Ви використовуєте хороший, правильно підібраний догляд...</p>
              </div>
            </div>
            <div class="col">
              <div class="item"><a class="link" href="#"><img src="img/articles-1.jpg" alt="#"/></a>
                <h3 class="title"><a class="link" href="#">ВАЖЛИВІСТЬ ГРЕБІНЦЯ У ДОГЛЯДІ</a></h3>
                <p class="desc">Ви використовуєте хороший, правильно підібраний догляд...</p>
              </div>
            </div>
            <div class="col">
              <div class="item"><a class="link" href="#"><img src="img/articles-2.jpg" alt="#"/></a>
                <h3 class="title"><a class="link" href="#">ВАЖЛИВІСТЬ ГРЕБІНЦЯ У ДОГЛЯДІ</a></h3>
                <p class="desc">Ви використовуєте хороший, правильно підібраний догляд...</p>
              </div>
            </div>
            <div class="col">
              <div class="item"><a class="link" href="#"><img src="img/articles-3.jpg" alt="#"/></a>
                <h3 class="title"><a class="link" href="#">ВАЖЛИВІСТЬ ГРЕБІНЦЯ У ДОГЛЯДІ</a></h3>
                <p class="desc">Ви використовуєте хороший, правильно підібраний догляд...</p>
              </div>
            </div>
            <div class="col">
              <div class="item"><a class="link" href="#"><img src="img/articles-4.jpg" alt="#"/></a>
                <h3 class="title"><a class="link" href="#">ВАЖЛИВІСТЬ ГРЕБІНЦЯ У ДОГЛЯДІ</a></h3>
                <p class="desc">Ви використовуєте хороший, правильно підібраний догляд...</p>
              </div>
            </div>
            <div class="col">
              <div class="item"><a class="link" href="#"><img src="img/articles-4.jpg" alt="#"/></a>
                <h3 class="title"><a class="link" href="#">ВАЖЛИВІСТЬ ГРЕБІНЦЯ У ДОГЛЯДІ</a></h3>
                <p class="desc">Ви використовуєте хороший, правильно підібраний догляд...</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="wp-pagenavi"><a class="prevpostslink icon-left" href="#"></a><span class="current">2</span><a class="page larger" href="#">3</a><a class="page larger" href="#">4</a><span class="extend">...</span><a class="larger page" href="#">12</a><a class="nextpostslink icon-right" href="#"></a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="description-block">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2>COMA - магазин професійної люксової косметики для шкіри і волосся.</h2>
          <p>У нас ви не просто купите черговий флакончик, який буде порошиться на полиці.<br/>У нашому магазині ви отримаєте повноцінну консультацію фахівця, який підбере лікувальні або Догляду косметичні засоби, з використанням яких ваше волосся і шкіра стануть дивовижно красивим і здоровим.</p>
          <p>За п'ять років нашої роботи ми успішно проконсультували 5000 прекрасних дівчат, більшість з яких стали нашими постійними клієнтками. </p>
        </div>
      </div>
    </div>
  </div>
</section>
