
<section>
  <div class="brand">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="breadcrumbs"><span><a class="home" href="#">Головна</a></span><span><a href="#">Бренди</a></span><span>Lanza</span></div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="brand-description">
            <div class="img"><img src="img/brands-1.png" alt="#"/></div>
            <div class="desc">
              <h1 class="title">LANZA</h1>
              <p class="brand-desc">Амеріканская компанія L'ANZA представлена на ринку професійної косметики для волосся з 1985 року і є піонером і лідером в розробці новітніх технологій по догляду за волоссям всіх типів, у виробництві косметики для відновлення волосся з терапевтичним ефектом. Хоча багато ліній по догляду за волоссям стверджують, що вони лікують волосся, продукція L'ANZA є єдиною, дійсно зцілює їх! Косметика Lanza - це також індивідуальний підхід до кожного клієнта. Справитися з неслухняними кучериками допоможе серія засобів по догляду за кучерявими волоссям, а ось ослабленим і тьмяним неодмінно додасть сили, еластичності і блиску серія косметики для пошкодженого волосся. Тільки Lanza здатна допомогти вам створити власний міні-салон на дому. Більшість косметичних засобів компанії дійсно дають результати, близькі до салонним процедурам, таким як кератіновой протезування, ламінування, фарбування та інші.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="question">
            <p>Залишились питання?</p><a class="button transparent" href="#">Отримати онлайн консультацiю</a><a class="button" href="#">Записатися на прийом</a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xxl-3 col-xl-3 col-lg-4 col-md-5 col-12">
          <div class="filters">
            <form>
              <h4>Фiльтри</h4>
              <p>Тип товару</p>
              <div class="checkbox">
                <input id="checkbox-1" type="checkbox"/>
                <label for="checkbox-1">Крем</label>
              </div>
              <div class="checkbox">
                <input id="checkbox-2" type="checkbox"/>
                <label for="checkbox-2">Молочко для тiла</label>
              </div>
              <div class="checkbox">
                <input id="checkbox-3" type="checkbox"/>
                <label for="checkbox-3">Шампунь</label>
              </div>
              <div class="checkbox">
                <input id="checkbox-4" type="checkbox"/>
                <label for="checkbox-4">Маска</label>
              </div>
              <p>Цiна</p>
              <div class="inputs">
                <label for="">Вiд
                  <input type="text"/>
                </label>
                <label for="">до
                  <input type="text"/>
                </label>
              </div>
              <p>Наявнiсть</p>
              <div class="checkbox">
                <input id="checkbox-5" type="checkbox"/>
                <label for="checkbox-5">В наявностi</label>
              </div>
              <div class="checkbox">
                <input id="checkbox-6" type="checkbox"/>
                <label for="checkbox-6">В дорозi</label>
              </div>
              <div class="checkbox">
                <input id="checkbox-7" type="checkbox"/>
                <label for="checkbox-7">Предзамовлення</label>
              </div>
              <p>Акцiйний товар</p>
              <div class="checkbox">
                <input id="checkbox-8" type="checkbox"/>
                <label for="checkbox-8">Зi знижкою</label>
              </div>
              <p>Бренд</p>
              <div class="checkbox">
                <input id="checkbox-9" type="checkbox"/>
                <label for="checkbox-9">Lanza</label>
              </div>
              <div class="checkbox">
                <input id="checkbox-10" type="checkbox"/>
                <label for="checkbox-10">Бренд</label>
              </div>
              <div class="checkbox">
                <input id="checkbox-11" type="checkbox"/>
                <label for="checkbox-11">Iнший бренд</label>
              </div>
              <div class="checkbox">
                <input id="checkbox-12" type="checkbox"/>
                <label for="checkbox-12">Ще один бренд</label>
              </div>
              <div class="checkbox">
                <input id="checkbox-13" type="checkbox"/>
                <label for="checkbox-13">Бренд з довгим найменуванням</label>
              </div>
            </form>
          </div>
        </div>
        <div class="col-xxl-9 col-xl-9 col-lg-8 col-md-7 col-12">
          <div class="product">
            <div class="row row-cols-xl-3 row-cols-lg-2 row-cols-md-1 row-cols-sm-2 row-cols-1">
              <div class="col">
                <div class="item">
                  <div class="img"><a class="link" href="#"></a><img src="img/product-1.png" alt="#"/>
                    <p class="meta top">Топ продажiв</p>
                  </div>
                  <div class="description">
                    <h2 class="title"> <a href="#">КРЕМ ДЛЯ ДЕПІЛЯЦІЇ З ЧОРНОЮ ГЛИНОЮ MOREMO BLACK CLAY HAIR REMOVAL CREAM B 100G</a></h2>
                    <p class="availability">В дорозi </p>
                    <p class="price">340₴</p>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="item">
                  <div class="img"><a class="link" href="#"></a><img src="img/product-2.png" alt="#"/>
                    <p class="meta top">Топ продажiв</p>
                  </div>
                  <div class="description">
                    <h2 class="title"> <a href="#">КРЕМ ДЛЯ ДЕПІЛЯЦІЇ З ЧОРНОЮ ГЛИНОЮ MOREMO BLACK CLAY HAIR REMOVAL CREAM B 100G</a></h2>
                    <p class="availability active">В наявностi</p>
                    <p class="price">340₴</p>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="item">
                  <div class="img"><a class="link" href="#"></a><img src="img/product-3.png" alt="#"/>
                    <p class="meta stoc">Акцiя</p>
                  </div>
                  <div class="description">
                    <h2 class="title"> <a href="#">КРЕМ ДЛЯ ДЕПІЛЯЦІЇ З ЧОРНОЮ ГЛИНОЮ MOREMO BLACK CLAY HAIR REMOVAL CREAM B 100G</a></h2>
                    <p class="availability active">В наявностi</p>
                    <p class="price">340₴</p>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="item">
                  <div class="img"><a class="link" href="#"></a><img src="img/no-photo.png" alt="#"/>
                    <p class="meta top">Топ продажiв</p>
                  </div>
                  <div class="description">
                    <h2 class="title"> <a href="#">КРЕМ ДЛЯ ДЕПІЛЯЦІЇ З ЧОРНОЮ ГЛИНОЮ MOREMO BLACK CLAY HAIR REMOVAL CREAM B 100G</a></h2>
                    <p class="availability active">В наявностi</p>
                    <p class="price">340₴</p>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="item">
                  <div class="img"><a class="link" href="#"></a><img src="img/product-4.png" alt="#"/>
                    <p class="meta top">Топ продажiв</p>
                  </div>
                  <div class="description">
                    <h2 class="title"> <a href="#">КРЕМ ДЛЯ ДЕПІЛЯЦІЇ З ЧОРНОЮ ГЛИНОЮ MOREMO BLACK CLAY HAIR REMOVAL CREAM B 100G</a></h2>
                    <p class="availability active">В наявностi</p>
                    <p class="price">340₴</p>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="item">
                  <div class="img"><a class="link" href="#"></a><img src="img/product-5.png" alt="#"/>
                    <p class="meta top">Топ продажiв</p>
                  </div>
                  <div class="description">
                    <h2 class="title"> <a href="#">КРЕМ ДЛЯ ДЕПІЛЯЦІЇ З ЧОРНОЮ ГЛИНОЮ MOREMO BLACK CLAY HAIR REMOVAL CREAM B 100G</a></h2>
                    <p class="availability active">В наявностi</p>
                    <p class="price">340₴</p>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="item">
                  <div class="img"><a class="link" href="#"></a><img src="img/product-6.png" alt="#"/>
                    <p class="meta top">Топ продажiв</p>
                  </div>
                  <div class="description">
                    <h2 class="title"> <a href="#">КРЕМ ДЛЯ ДЕПІЛЯЦІЇ З ЧОРНОЮ ГЛИНОЮ MOREMO BLACK CLAY HAIR REMOVAL CREAM B 100G</a></h2>
                    <p class="availability active">В наявностi</p>
                    <p class="price">340₴</p>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="item">
                  <div class="img"><a class="link" href="#"></a><img src="img/product-7.png" alt="#"/>
                    <p class="meta top">Топ продажiв</p>
                  </div>
                  <div class="description">
                    <h2 class="title"> <a href="#">КРЕМ ДЛЯ ДЕПІЛЯЦІЇ З ЧОРНОЮ ГЛИНОЮ MOREMO BLACK CLAY HAIR REMOVAL CREAM B 100G</a></h2>
                    <p class="availability active">В наявностi</p>
                    <p class="price">340₴</p>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="item">
                  <div class="img"><a class="link" href="#"></a><img src="img/product-1.png" alt="#"/>
                    <p class="meta top">Топ продажiв</p>
                  </div>
                  <div class="description">
                    <h2 class="title"> <a href="#">КРЕМ ДЛЯ ДЕПІЛЯЦІЇ З ЧОРНОЮ ГЛИНОЮ MOREMO BLACK CLAY HAIR REMOVAL CREAM B 100G</a></h2>
                    <p class="availability">В дорозi </p>
                    <p class="price">340₴</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12"><a class="button" href="#">Бiльше товарiв</a>
                <div class="wp-pagenavi">
                  <!--a.prevpostslink.icon-left(href='#')--><span class="current">1</span><a class="page larger" href="#">2</a><a class="page larger" href="#">3</a><span class="extend">...</span><a class="larger page" href="#">12</a><a class="nextpostslink icon-right" href="#"></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="description-block">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2>COMA - магазин професійної люксової косметики для шкіри і волосся.</h2>
          <p>У нас ви не просто купите черговий флакончик, який буде порошиться на полиці.<br/>У нашому магазині ви отримаєте повноцінну консультацію фахівця, який підбере лікувальні або Догляду косметичні засоби, з використанням яких ваше волосся і шкіра стануть дивовижно красивим і здоровим.</p>
          <p>За п'ять років нашої роботи ми успішно проконсультували 5000 прекрасних дівчат, більшість з яких стали нашими постійними клієнтками. </p>
        </div>
      </div>
    </div>
  </div>
</section>
