
<section>
  <div class="banner">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="banner-slider">
            <div class="item">
              <div class="description">
                <h5 class="meta">Новинка у нашому магазинi</h5>
                <h2 class="title">MOREMO FEMININE MIST</h2>
                <p class="desc">Крем для депіляції рук і ніг з чорною глиною, швидко і легко видаляє волосся, омертвілі клітини і бруд, залишаючи шкіру м'якою і доглянутою. Видаляє волосся легко і ефективно.</p><a class="button mini" href="#">Детальнiше</a>
              </div>
              <div class="img"><img src="img/banner-img.jpg" alt="#"/></div>
            </div>
            <div class="item">
              <div class="description">
                <h5 class="meta">Новинка у нашому магазинi</h5>
                <h2 class="title">MOREMO FEMININE MIST</h2>
                <p class="desc">Крем для депіляції рук і ніг з чорною глиною, швидко і легко видаляє волосся, омертвілі клітини і бруд, залишаючи шкіру м'якою і доглянутою. Видаляє волосся легко і ефективно.</p><a class="button mini" href="#">Детальнiше</a>
              </div>
              <div class="img"><img src="img/banner-img.jpg" alt="#"/></div>
            </div>
            <div class="item">
              <div class="description">
                <h5 class="meta">Новинка у нашому магазинi</h5>
                <h2 class="title">MOREMO FEMININE MIST</h2>
                <p class="desc">Крем для депіляції рук і ніг з чорною глиною, швидко і легко видаляє волосся, омертвілі клітини і бруд, залишаючи шкіру м'якою і доглянутою. Видаляє волосся легко і ефективно.</p><a class="button mini" href="#">Детальнiше</a>
              </div>
              <div class="img"><img src="img/banner-img.jpg" alt="#"/></div>
            </div>
            <div class="item">
              <div class="description">
                <h5 class="meta">Новинка у нашому магазинi</h5>
                <h2 class="title">MOREMO FEMININE MIST</h2>
                <p class="desc">Крем для депіляції рук і ніг з чорною глиною, швидко і легко видаляє волосся, омертвілі клітини і бруд, залишаючи шкіру м'якою і доглянутою. Видаляє волосся легко і ефективно.</p><a class="button mini" href="#">Детальнiше</a>
              </div>
              <div class="img"><img src="img/banner-img.jpg" alt="#"/></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="product">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2 class="title"><span>Топ товари</span></h2>
        </div>
      </div>
      <div class="row row-cols-xl-4 row-cols-lg-3 row-cols-md-2 row-cols-sm-2 row-cols-1">
        <div class="col">
          <div class="item">
            <div class="img"><a class="link" href="#"></a><img src="img/product-1.png" alt="#"/>
              <p class="meta top">Топ продажiв</p>
            </div>
            <div class="description">
              <h2 class="title"> <a href="#">КРЕМ ДЛЯ ДЕПІЛЯЦІЇ З ЧОРНОЮ ГЛИНОЮ MOREMO BLACK CLAY HAIR REMOVAL CREAM B 100G</a></h2>
              <p class="availability">В дорозi </p>
              <p class="price">340₴</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="item">
            <div class="img"><a class="link" href="#"></a><img src="img/product-2.png" alt="#"/>
              <p class="meta top">Топ продажiв</p>
            </div>
            <div class="description">
              <h2 class="title"> <a href="#">КРЕМ ДЛЯ ДЕПІЛЯЦІЇ З ЧОРНОЮ ГЛИНОЮ MOREMO BLACK CLAY HAIR REMOVAL CREAM B 100G</a></h2>
              <p class="availability active">В наявностi</p>
              <p class="price">340₴</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="item">
            <div class="img"><a class="link" href="#"></a><img src="img/product-3.png" alt="#"/>
              <p class="meta stoc">Акцiя</p>
            </div>
            <div class="description">
              <h2 class="title"> <a href="#">КРЕМ ДЛЯ ДЕПІЛЯЦІЇ З ЧОРНОЮ ГЛИНОЮ MOREMO BLACK CLAY HAIR REMOVAL CREAM B 100G</a></h2>
              <p class="availability active">В наявностi</p>
              <p class="price">340₴</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="item">
            <div class="img"><a class="link" href="#"></a><img src="img/no-photo.png" alt="#"/>
              <p class="meta top">Топ продажiв</p>
            </div>
            <div class="description">
              <h2 class="title"> <a href="#">КРЕМ ДЛЯ ДЕПІЛЯЦІЇ З ЧОРНОЮ ГЛИНОЮ MOREMO BLACK CLAY HAIR REMOVAL CREAM B 100G</a></h2>
              <p class="availability active">В наявностi</p>
              <p class="price">340₴</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="item">
            <div class="img"><a class="link" href="#"></a><img src="img/product-4.png" alt="#"/>
              <p class="meta top">Топ продажiв</p>
            </div>
            <div class="description">
              <h2 class="title"> <a href="#">КРЕМ ДЛЯ ДЕПІЛЯЦІЇ З ЧОРНОЮ ГЛИНОЮ MOREMO BLACK CLAY HAIR REMOVAL CREAM B 100G</a></h2>
              <p class="availability active">В наявностi</p>
              <p class="price">340₴</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="item">
            <div class="img"><a class="link" href="#"></a><img src="img/product-5.png" alt="#"/>
              <p class="meta top">Топ продажiв</p>
            </div>
            <div class="description">
              <h2 class="title"> <a href="#">КРЕМ ДЛЯ ДЕПІЛЯЦІЇ З ЧОРНОЮ ГЛИНОЮ MOREMO BLACK CLAY HAIR REMOVAL CREAM B 100G</a></h2>
              <p class="availability active">В наявностi</p>
              <p class="price">340₴</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="item">
            <div class="img"><a class="link" href="#"></a><img src="img/product-6.png" alt="#"/>
              <p class="meta top">Топ продажiв</p>
            </div>
            <div class="description">
              <h2 class="title"> <a href="#">КРЕМ ДЛЯ ДЕПІЛЯЦІЇ З ЧОРНОЮ ГЛИНОЮ MOREMO BLACK CLAY HAIR REMOVAL CREAM B 100G</a></h2>
              <p class="availability active">В наявностi</p>
              <p class="price">340₴</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="item">
            <div class="img"><a class="link" href="#"></a><img src="img/product-7.png" alt="#"/>
              <p class="meta top">Топ продажiв</p>
            </div>
            <div class="description">
              <h2 class="title"> <a href="#">КРЕМ ДЛЯ ДЕПІЛЯЦІЇ З ЧОРНОЮ ГЛИНОЮ MOREMO BLACK CLAY HAIR REMOVAL CREAM B 100G</a></h2>
              <p class="availability active">В наявностi</p>
              <p class="price">340₴</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12"><a class="button" href="#">Бiльше товарiв</a></div>
      </div>
    </div>
  </div>
  <div class="brands">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2 class="title"><span>Бренди</span></h2>
        </div>
      </div>
      <div class="row row-cols-xl-6 row-cols-3">
        <div class="col">
          <div class="item"><a href="#"><img src="img/brands-1.png" alt=""/></a></div>
        </div>
        <div class="col">
          <div class="item"><a href="#"><img src="img/brands-2.png" alt=""/></a></div>
        </div>
        <div class="col">
          <div class="item"><a href="#"><img src="img/brands-3.png" alt=""/></a></div>
        </div>
        <div class="col">
          <div class="item"><a href="#"><img src="img/brands-4.png" alt=""/></a></div>
        </div>
        <div class="col">
          <div class="item"><a href="#"><img src="img/brands-5.png" alt=""/></a></div>
        </div>
        <div class="col">
          <div class="item"><a href="#"><img src="img/brands-6.png" alt=""/></a></div>
        </div>
        <div class="col">
          <div class="item"><a href="#"><img src="img/brands-7.png" alt=""/></a></div>
        </div>
        <div class="col">
          <div class="item"><a href="#"><img src="img/brands-8.png" alt=""/></a></div>
        </div>
        <div class="col">
          <div class="item"><a href="#"><img src="img/brands-9.png" alt=""/></a></div>
        </div>
        <div class="col">
          <div class="item"><a href="#"><img src="img/brands-10.png" alt=""/></a></div>
        </div>
        <div class="col">
          <div class="item"><a href="#"><img src="img/brands-11.png" alt=""/></a></div>
        </div>
        <div class="col">
          <div class="item"><a href="#"><img src="img/brands-12.png" alt=""/></a></div>
        </div>
      </div>
      <div class="row">
        <div class="col-12"><a class="button" href="#">Бiльше брендiв</a></div>
      </div>
    </div>
  </div>
  <div class="articles">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2 class="title"><span>Статтi</span></h2>
        </div>
      </div>
      <div class="row row-cols-xl-6 row-cols-lg-3 row-cols-md-3 row-cols-sm-2 row-cols-1">
        <div class="col">
          <div class="item"><a class="link" href="#"><img src="img/articles-1.jpg" alt="#"/></a>
            <h3 class="title"><a class="link" href="#">ВАЖЛИВІСТЬ ГРЕБІНЦЯ У ДОГЛЯДІ</a></h3>
            <p class="desc">Ви використовуєте хороший, правильно підібраний догляд...</p>
          </div>
        </div>
        <div class="col">
          <div class="item"><a class="link" href="#"><img src="img/articles-2.jpg" alt="#"/></a>
            <h3 class="title"><a class="link" href="#">ВАЖЛИВІСТЬ ГРЕБІНЦЯ У ДОГЛЯДІ</a></h3>
            <p class="desc">Ви використовуєте хороший, правильно підібраний догляд...</p>
          </div>
        </div>
        <div class="col">
          <div class="item"><a class="link" href="#"><img src="img/articles-3.jpg" alt="#"/></a>
            <h3 class="title"><a class="link" href="#">ВАЖЛИВІСТЬ ГРЕБІНЦЯ У ДОГЛЯДІ</a></h3>
            <p class="desc">Ви використовуєте хороший, правильно підібраний догляд...</p>
          </div>
        </div>
        <div class="col">
          <div class="item"><a class="link" href="#"><img src="img/articles-4.jpg" alt="#"/></a>
            <h3 class="title"><a class="link" href="#">ВАЖЛИВІСТЬ ГРЕБІНЦЯ У ДОГЛЯДІ</a></h3>
            <p class="desc">Ви використовуєте хороший, правильно підібраний догляд...</p>
          </div>
        </div>
        <div class="col">
          <div class="item"><a class="link" href="#"><img src="img/articles-5.jpg" alt="#"/></a>
            <h3 class="title"><a class="link" href="#">ВАЖЛИВІСТЬ ГРЕБІНЦЯ У ДОГЛЯДІ</a></h3>
            <p class="desc">Ви використовуєте хороший, правильно підібраний догляд...</p>
          </div>
        </div>
        <div class="col">
          <div class="item"><a class="link" href="#"><img src="img/articles-6.jpg" alt="#"/></a>
            <h3 class="title"><a class="link" href="#">ВАЖЛИВІСТЬ ГРЕБІНЦЯ У ДОГЛЯДІ</a></h3>
            <p class="desc">Ви використовуєте хороший, правильно підібраний догляд...</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12"><a class="button" href="#">Бiльше статей</a></div>
      </div>
    </div>
  </div>
  <div class="description-block">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2>COMA - магазин професійної люксової косметики для шкіри і волосся.</h2>
          <p>У нас ви не просто купите черговий флакончик, який буде порошиться на полиці.<br/>У нашому магазині ви отримаєте повноцінну консультацію фахівця, який підбере лікувальні або Догляду косметичні засоби, з використанням яких ваше волосся і шкіра стануть дивовижно красивим і здоровим.</p>
          <p>За п'ять років нашої роботи ми успішно проконсультували 5000 прекрасних дівчат, більшість з яких стали нашими постійними клієнтками. </p>
        </div>
      </div>
    </div>
  </div>
</section>
