
<section>
  <div class="contacts">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="breadcrumbs"><span><a class="home" href="#">Головна</a></span><span>Контакти</span></div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-12">
          <h2>Контакти</h2>
          <h6>Графiк роботы</h6>
          <p>Пн. - Вс. з 09:00 по 20:00 </p>
          <h6>Адреса</h6>
          <p>Україна Київ вул. Нижній Вал, 37</p>
          <h6>Телефон</h6><a href="tel:+380631234567">+38063 123 45 67</a><a href="tel:+380631234567">+38063 123 45 67</a>
          <h6>Соцiальнi мережi</h6>
          <ul class="soc">
            <li><a class="icon-facebook" href="#"></a></li>
            <li><a class="icon-instagram" href="#"></a></li>
            <li><a class="icon-twitter" href="#"></a></li>
          </ul>
        </div>
        <div class="col-md-6 col-12">
          <form>
            <h2>Зворотнiй зв’язок</h2>
            <div class="input">
              <label>Iм’я</label>
              <input type="text" placeholder="Ваше iм’я"/>
            </div>
            <div class="input">
              <label>Email</label>
              <input type="text" placeholder="Ваш email"/>
            </div>
            <div class="textarea">
              <label>Повiдомлення</label>
              <textarea type="text" placeholder="Текст повiдомлення"></textarea>
            </div>
            <div class="input">
              <input class="button" type="submit" value="Вiдправити"/>
            </div>
          </form>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div id="map"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="description-block">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2>COMA - магазин професійної люксової косметики для шкіри і волосся.</h2>
          <p>У нас ви не просто купите черговий флакончик, який буде порошиться на полиці.<br/>У нашому магазині ви отримаєте повноцінну консультацію фахівця, який підбере лікувальні або Догляду косметичні засоби, з використанням яких ваше волосся і шкіра стануть дивовижно красивим і здоровим.</p>
          <p>За п'ять років нашої роботи ми успішно проконсультували 5000 прекрасних дівчат, більшість з яких стали нашими постійними клієнтками. </p>
        </div>
      </div>
    </div>
  </div>
</section>
