
<header>
  <div class="top-header">
    <div class="container">
      <div class="row justify-content-space-between">
        <div class="col">
          <p>Графiк роботы: Пн. - Вс. з 09:00 по 20:00 </p>
        </div>
        <div class="col">
          <ul>
            <li><a href="tel:+380631234567">+38063 123 45 67</a></li>
            <li><a href="tel:+380991234567">+38099 123 45 67</a></li>
            <li class="icon-facebook"><a href="#"></a></li>
            <li class="icon-instagram"><a href="#"></a></li>
            <li class="icon-twitter"><a href="#"></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-5">
        <div class="burger"> <span></span><span></span><span></span></div>
        <ul class="menu">
          <li><a href="#">Про нас</a></li>
          <li><a href="#">Статтi</a></li>
          <li><a href="#">Контакти</a></li>
        </ul>
      </div>
      <div class="col-2"><a class="logo" href="/"><img src="img/logo.svg" alt="logo"/></a></div>
      <div class="col-5">
        <div class="row align-items-center">
          <div class="col">
            <ul class="menu">
              <li><a href="#">Отримати онлайн консультацiю</a></li>
              <li><a href="#">Записатися на прийом</a></li>
            </ul>
          </div>
          <div class="col-auto"><a class="icon-bag" href="#">Кошик</a></div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <ul class="menu">
          <li><a href="#">Догляд за волоссям</a></li>
          <li><a href="#">Вітаміни/Бади</a></li>
          <li><a href="#">Тіло</a></li>
          <li><a href="#">Косметика для обличчя</a></li>
          <li><a href="#">Для чоловiкiв</a></li>
        </ul>
      </div>
    </div>
  </div>
</header>
