
<section>
  <div class="banner">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="banner-slider">
            <div class="item">
              <div class="description">
                <h5 class="meta">Новинка у нашому магазинi</h5>
                <h2 class="title">MOREMO FEMININE MIST</h2>
                <p class="desc">Крем для депіляції рук і ніг з чорною глиною, швидко і легко видаляє волосся, омертвілі клітини і бруд, залишаючи шкіру м'якою і доглянутою. Видаляє волосся легко і ефективно.</p><a class="button mini" href="#">Детальнiше</a>
              </div>
              <div class="img"><img src="img/banner-img.jpg" alt="#"/></div>
            </div>
            <div class="item">
              <div class="description">
                <h5 class="meta">Новинка у нашому магазинi</h5>
                <h2 class="title">MOREMO FEMININE MIST</h2>
                <p class="desc">Крем для депіляції рук і ніг з чорною глиною, швидко і легко видаляє волосся, омертвілі клітини і бруд, залишаючи шкіру м'якою і доглянутою. Видаляє волосся легко і ефективно.</p><a class="button mini" href="#">Детальнiше</a>
              </div>
              <div class="img"><img src="img/banner-img.jpg" alt="#"/></div>
            </div>
            <div class="item">
              <div class="description">
                <h5 class="meta">Новинка у нашому магазинi</h5>
                <h2 class="title">MOREMO FEMININE MIST</h2>
                <p class="desc">Крем для депіляції рук і ніг з чорною глиною, швидко і легко видаляє волосся, омертвілі клітини і бруд, залишаючи шкіру м'якою і доглянутою. Видаляє волосся легко і ефективно.</p><a class="button mini" href="#">Детальнiше</a>
              </div>
              <div class="img"><img src="img/banner-img.jpg" alt="#"/></div>
            </div>
            <div class="item">
              <div class="description">
                <h5 class="meta">Новинка у нашому магазинi</h5>
                <h2 class="title">MOREMO FEMININE MIST</h2>
                <p class="desc">Крем для депіляції рук і ніг з чорною глиною, швидко і легко видаляє волосся, омертвілі клітини і бруд, залишаючи шкіру м'якою і доглянутою. Видаляє волосся легко і ефективно.</p><a class="button mini" href="#">Детальнiше</a>
              </div>
              <div class="img"><img src="img/banner-img.jpg" alt="#"/></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="question-block">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="question">
            <p>Залишились питання?</p><a class="button transparent" href="#">Отримати онлайн консультацiю</a><a class="button" href="#">Записатися на прийом</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="landing-product">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 col-md-8 col-12">
          <div class="text">
            <h1>Біологічно активна добавка для прискорення росту волосся<br/>Mediceuticals Bao-Med Food Supplement 60капсул </h1>
            <p>Біологічно активна добавка для прискорення росту волосся, поліпшення стану шкіри, нігтів Mediceuticals Bao-Med Food Supplement Hair Skin & Nails - біологічно активна добавка Bao-Med спрямована на поліпшення стану волосся, шкіри та нігтів.</p>
            <p>Основним компонентом є живильний порошок баобаба з Південної Африки.</p>
            <p>Для більш міцних волосся, шкіри та нігтів <br/>Головний компонент кошти живильний порошок баобаба<br/>Збагачений біотином, цинком і фолієвою кислотою<br/>Підходить для веганів! Навіть беручи біологічно активну добавку Bao-Med важливо дотримуватися різноманітного збалансованого харчування та здорового способу життя. Дієтичні добавки не є заміною повноцінного раціону харчування.</p>
          </div>
        </div>
        <div class="col-lg-6 col-md-4 col-12"><img src="img/product-landing-1.png" alt="#"/></div>
      </div>
      <div class="row align-items-center">
        <div class="col-lg-6 col-md-8 col-12">
          <div class="text">
            <p>Біологічно активна добавка Bao-Med від Mediceuticals ‒ це продукт, який націлений на поліпшення стану волосся, шкіри та нігтів. Основним компонентом є живильний порошок баобаба з Південної Африки. Крім того, продукт збагачений біотином, цинком і фолієвою кислотою, що створює ідеальний мікс для зміцнення волосся, шкіри та нігтів.</p>
            <p>Основні інгредієнти:</p>
            <p>Порошок плодів баобаба дуже поживний. Він містить вітамін С, кальцій, магній, калій та інші важливі харчові волокна і є чудовим антиоксидантом і сприяє підтримці здорового балансу в тілі.</p>
            <p>Цинк підтримує регенеративні здібності шкіри і піклується про її здоров'я.<br/>Біотин сприяє нормальному росту волосся; він також допомагає зберегти їх сильними і блискучими.<br/>Фолієва кислота необхідна для ділення клітин. Вона в основному впливає на швидко зростаючі клітини, такі як волосся.<br/>Спосіб застосування: приймайте по 2 капсули на добу, бажано під час їжі. </p>
          </div>
        </div>
        <div class="col-lg-6 col-md-4 col-12"><img src="img/product-landing-2.png" alt="#"/></div>
      </div>
    </div>
  </div>
  <div class="question-block">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <form class="question">
            <div class="col-md-6 col-12">
              <p>Залишились питання?</p>
              <div class="radio">
                <input id="online" type="radio" name="questions"/>
                <label for="online">Отримати онлайн консультацiю</label>
              </div>
              <div class="radio">
                <input id="sign-up" type="radio" name="questions"/>
                <label for="sign-up">Записатися на прийом</label>
              </div>
            </div>
            <div class="col-md-6 col-12">
              <h2>Зворотнiй зв'язок</h2>
              <div class="input">
                <label>Iм’я</label>
                <input type="text" placeholder="Ваше iм’я"/>
              </div>
              <div class="input">
                <label>Email</label>
                <input type="text" placeholder="Ваш email"/>
              </div>
              <div class="input">
                <input class="button" type="submit" value="Вiдправити"/>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="description-block">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2>COMA - магазин професійної люксової косметики для шкіри і волосся.</h2>
          <p>У нас ви не просто купите черговий флакончик, який буде порошиться на полиці.<br/>У нашому магазині ви отримаєте повноцінну консультацію фахівця, який підбере лікувальні або Догляду косметичні засоби, з використанням яких ваше волосся і шкіра стануть дивовижно красивим і здоровим.</p>
          <p>За п'ять років нашої роботи ми успішно проконсультували 5000 прекрасних дівчат, більшість з яких стали нашими постійними клієнтками. </p>
        </div>
      </div>
    </div>
  </div>
</section>
