
<section>
  <div class="product">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="breadcrumbs"><span><a class="home" href="#">Головна</a></span><span><a href="#">Догляд за волоссям</a></span><span>КРЕМ ДЛЯ ДЕПІЛЯЦІЇ З ЧОРНОЮ ГЛИНОЮ MOREMO BLACK CLAY HAIR REMOVAL CREAM B 100G</span></div>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-6 col-lg-5 col-md-4 col-12">
          <div class="img"> <img src="img/product.png" alt="#"/>
            <p class="meta top">Топ продажiв</p>
            <p class="meta stoc">Акцiя</p>
          </div>
        </div>
        <div class="col-xl-6 col-lg-7 col-md-8 col-12">
          <div class="description">
            <h1 class="title">КРЕМ ДЛЯ ДЕПІЛЯЦІЇ З ЧОРНОЮ ГЛИНОЮ MOREMO BLACK CLAY HAIR REMOVAL CREAM B 100G</h1>
            <p class="availability active">В наявностi</p>
            <p class="price"> <span>395₴</span>340₴</p>
            <div class="amount"><span class="icon-minus dec"></span>
              <input class="amount-num" type="text" value="10"/><span class="icon-plus inc"></span><a class="button" href="#">Додати до кошика</a>
            </div>
            <div class="nav-block">
              <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item" role="presentation">
                  <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#info" type="button" role="tab" aria-controls="info" aria-selected="true">Iнформацiя о товарi</button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#characteristics" type="button" role="tab" aria-controls="characteristics" aria-selected="false">Характеристики</button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#delivery" type="button" role="tab" aria-controls="delivery" aria-selected="false">Доставка та термiни повернення</button>
                </li>
              </ul>
            </div>
            <div class="tab-content">
              <div class="tab-pane fade show active" id="info" role="tabpanel" aria-labelledby="home-tab">
                <h6>Крем для восстановления синтеза коллагена </h6>
                <p>Крем восполняет запас необходимых компонентов в клетках кожи. <br/>Помогает приостановить процессы старения, разгладить уже существующие морщины и препятствует появлению новых. <br/>Унікальні діючі компоненти у складі крему пробуджують клітини шкіри до синтезу власного колагену.</p>
                <h6>Нанесіть масажними рухами на чисту шкіру.</h6>
                <p>Нанесіть масажними рухами на чисту шкіру.</p>
                <h6>Основні інгредієнти</h6>
                <p>Натрію Гіалуронат, Гідролізований Колаген, Масло Ши, Масло Бабассу, Аргінін, Алантоїн, Мед, Екстракт Плодів Троянди Багатоквіткової, Екстракт Плодів Томата, Екстракт Соку і Кори Півонії Молочноцветкового, Екстракт Жимолості Японської, Аденозин, Екстракт Эклония Кава, Екстракт Чайного Дерева, Екстракт Гуарани, Екстракт Плодів Асаї.</p>
              </div>
              <div class="tab-pane fade" id="characteristics" role="tabpanel" aria-labelledby="profile-tab">
                <table>
                  <tr>
                    <td>Виробник</td>
                    <td>SFERANGS</td>
                  </tr>
                  <tr>
                    <td>Країна виробник</td>
                    <td>Південна Корея</td>
                  </tr>
                  <tr>
                    <td>Об`єм</td>
                    <td>50 мл</td>
                  </tr>
                  <tr>
                    <td>Тип шкіри</td>
                    <td>Всі типи шкіри</td>
                  </tr>
                  <tr>
                    <td>Проблема шкіри</td>
                    <td>Глибокі зморшки, В'ялість, Мімічні зморшки, Зморшки, В'янення, Вікові зміни </td>
                  </tr>
                  <tr>
                    <td>Час застосування</td>
                    <td>Універсальний</td>
                  </tr>
                  <tr>
                    <td>Стать</td>
                    <td>Жіночий</td>
                  </tr>
                  <tr>
                    <td>Призначення і результат</td>
                    <td>Живлення, Зволоження, Відновлення, Підтягування, Регенерація, Омолодження</td>
                  </tr>
                  <tr>
                    <td>Класифікація косметичного засобу </td>
                    <td>Натуральна</td>
                  </tr>
                  <tr>
                    <td>Вік</td>
                    <td>30+</td>
                  </tr>
                  <tr>
                    <td>Вікова група</td>
                    <td>Для зрілої шкіри, від 35 до 45 років </td>
                  </tr>
                  <tr>
                    <td>Тип крему</td>
                    <td>	Омолоджуючий</td>
                  </tr>
                </table>
              </div>
              <div class="tab-pane fade" id="delivery" role="tabpanel" aria-labelledby="contact-tab">
                <h6>Lorem ipsum dolor sit amet, consectetur adipisicing.</h6>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A vero iure, illum ratione deserunt adipisci aut eius repellendus dicta veritatis!</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis ad distinctio debitis ducimus molestias suscipit architecto consequatur libero laborum quae! At provident vitae praesentium similique, quaerat tempora. Voluptatibus, fugiat eum.</p>
                <h6>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h6>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A vero iure, illum ratione deserunt adipisci aut eius repellendus dicta veritatis!</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis ad distinctio debitis ducimus molestias suscipit architecto consequatur libero laborum quae! At provident vitae praesentium similique, quaerat tempora. Voluptatibus, fugiat eum.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A vero iure, illum ratione deserunt adipisci aut eius repellendus dicta veritatis!</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis ad distinctio debitis ducimus molestias suscipit architecto consequatur libero laborum quae! At provident vitae praesentium similique, quaerat tempora. Voluptatibus, fugiat eum. </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <h2 class="title"><span>Схожi товари</span></h2>
        </div>
      </div>
      <div class="row row-cols-xl-4 row-cols-lg-3 row-cols-md-2 row-cols-sm-2 row-cols-1">
        <div class="col">
          <div class="item">
            <div class="img"><a class="link" href="#"></a><img src="img/product-1.png" alt="#"/>
              <p class="meta top">Топ продажiв</p>
              <p class="meta stoc">Акцiя</p>
            </div>
            <div class="description">
              <h2 class="title"> <a href="#">КРЕМ ДЛЯ ДЕПІЛЯЦІЇ З ЧОРНОЮ ГЛИНОЮ MOREMO BLACK CLAY HAIR REMOVAL CREAM B 100G</a></h2>
              <p class="availability">В дорозi </p>
              <p class="price">340₴</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="item">
            <div class="img"><a class="link" href="#"></a><img src="img/product-2.png" alt="#"/>
              <p class="meta top">Топ продажiв</p>
            </div>
            <div class="description">
              <h2 class="title"> <a href="#">КРЕМ ДЛЯ ДЕПІЛЯЦІЇ З ЧОРНОЮ ГЛИНОЮ MOREMO BLACK CLAY HAIR REMOVAL CREAM B 100G</a></h2>
              <p class="availability active">В наявностi</p>
              <p class="price">340₴</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="item">
            <div class="img"><a class="link" href="#"></a><img src="img/product-3.png" alt="#"/>
              <p class="meta stoc">Акцiя</p>
            </div>
            <div class="description">
              <h2 class="title"> <a href="#">КРЕМ ДЛЯ ДЕПІЛЯЦІЇ З ЧОРНОЮ ГЛИНОЮ MOREMO BLACK CLAY HAIR REMOVAL CREAM B 100G</a></h2>
              <p class="availability active">В наявностi</p>
              <p class="price">340₴</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="item">
            <div class="img"><a class="link" href="#"></a><img src="img/no-photo.png" alt="#"/>
              <p class="meta top">Топ продажiв</p>
            </div>
            <div class="description">
              <h2 class="title"> <a href="#">КРЕМ ДЛЯ ДЕПІЛЯЦІЇ З ЧОРНОЮ ГЛИНОЮ MOREMO BLACK CLAY HAIR REMOVAL CREAM B 100G</a></h2>
              <p class="availability active">В наявностi</p>
              <p class="price">340₴</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12"><a class="button" href="#">Бiльше товарiв</a></div>
      </div>
    </div>
  </div>
  <div class="description-block">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2>COMA - магазин професійної люксової косметики для шкіри і волосся.</h2>
          <p>У нас ви не просто купите черговий флакончик, який буде порошиться на полиці.<br/>У нашому магазині ви отримаєте повноцінну консультацію фахівця, який підбере лікувальні або Догляду косметичні засоби, з використанням яких ваше волосся і шкіра стануть дивовижно красивим і здоровим.</p>
          <p>За п'ять років нашої роботи ми успішно проконсультували 5000 прекрасних дівчат, більшість з яких стали нашими постійними клієнтками. </p>
        </div>
      </div>
    </div>
  </div>
</section>
