$black:#111;
$white:#fff;
$red:#F14F4F;
$grey:#A0A0A0;
$green:#4FBD1B;
$Montserrat: 'Montserrat', sans-serif;
.achievement{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: row;
	li{
		width: calc((100% - 80px) / 3);
		margin-right: 40px;
		&:nth-of-type(3n){
			margin-right: 0;
		}
	}
}
.about-us{
	padding-bottom: 30px;
	.breadcrumbs{
		margin-bottom: 40px;
	}
	.col-6{
		&:first-of-type{
			padding-left: 110px;
		}
	}
	.row{
		&:last-of-type{
			p{
				max-width: 324px;
			}
		}
	}
	h1.title{
		font-size: 24px;
		color: $black;
		margin-bottom: 15px;

	}
	h6{
		font-weight: 500;
		font-size: 16px;
		color: $black;
		margin: 20px 0 15px;
	}
	p{
		color: $black;
		font-size: 14px;
		margin-bottom: 15px;
	}
}
