.breadcrumbs{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-bottom: 15px;
	& > span{
		font-size: 14px;
		color: #111111;
		position: relative;
		display: block;
		margin-right: 15px;
		&:last-of-type{
			&:after{
				display: none;
			}
		}
		&:after{
			content: '';
			position: absolute;
			width: 3px;
			height: 3px;
			border-radius: 50%;
			background: #707070;
			top: 50%;
			transform: translateY(-50%);
			right: -9px;
		}
	}
	a{
		color: #707070 !important;
		text-decoration: none;
		transition: all 0.3s ease;
		margin-bottom: 0 !important;
		&:hover{
			color:rgba(112, 112, 112, 0.6) !important;
		}
	}
}
