$black:#111;
$white:#fff;
$red:#F14F4F;
$grey:#A0A0A0;
$green:#4FBD1B;
$Montserrat: 'Montserrat', sans-serif;
.description-block{
	padding: 15px 0 40px;
	.col-12{
		& > *{
			max-width: 1100px;
			width: 100%;
			display: table;
			margin: 0 auto;
		}
		h2{
			font-size: 24px;
			color: $black;
			margin-bottom: 30px;
		}
		p{
			font-size: 14px;
			color: $black;
			margin-bottom: 20px;
		}
	}
}
